body {
	text-align: center;
	font-family: "Lucida Console", "Lucida Sans Typewriter", Monaco, "Bitstream Vera Sans Mono", monospace;
}

#gameboard {
	width: 310px;
	height: 300px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 100px;
	background-color: #FFF;
	font-size: 50px;
}

#message {
	font-size: 32px;
	margin: 75px;
}

.square {
	width: 100px;
	height: 100px;
	float: left;
	text-align: center;
	line-height: 100px;
	border: transparent;
}

.center {
	border-right: solid #000;
	border-left: solid #000;
}

.top {
	border-bottom: solid #000;
}

.bottom {
	border-top: solid #000;
}

.square:hover {
	background-color: #f1f1f1;
}

.winningSquare {
	background-color: #7DDADE;
}

.winningSquare:hover {
	background-color: #7DDADE;
}

button {
	height: 50px;
	width: 150px;
	background-color: #308D91;
	border-radius: 15px;
	border: none;
	font-size: 100%;
	color: white;
}

button:focus {
	outline: none;
}

button:hover {
	background-color: #4AA7AB;
}